@model SoftwareProcess.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Programme_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Programme_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Programme_Version_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Programme_Version_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intake_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intake_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ministry_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ministry_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner_Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner_Faculty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Programme_EFTS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Programme_EFTS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module_Credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module_Credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module_EFTS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module_EFTS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TSC_Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TSC_Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funding_Classification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funding_Classification)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
