@model SoftwareProcess.Models.LectureAdmin

@{
    ViewData["Title"] = "AdminLogin";
}

<h1>Admin</h1>

<div>
    <h4>Log In Success</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>

    </dl>
</div>
<div>

    <a asp-controller="Courses" asp-action="Index">View Courses</a><br>
    <a asp-controller="Classes" asp-action="Index">View Classes</a><br>
    <a asp-controller="Students" asp-action="Index">View Students</a><br>
    <a asp-controller="Home" asp-action="Index">Logout</a>
</div>
