@model SoftwareProcess.Models.Student

@{
    ViewData["Title"] = "Authorize";
}

<h1>Details</h1>

<div>
    <h4>Log In Success</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Institution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Institution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email_address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email_address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LDFTC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LDFTC)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
