@model SoftwareProcess.Models.Student

@{
    ViewData["Title"] = "Home Page";
}

<style>
    #LogInForm {
        margin: 0;
        padding: 0;
        display: flex;
        height: 70vh;
        top: 40%;
        align-items: center;
        justify-content: center;
    }
    fieldset {
    width:350px;
    }
    input {
        margin:0px 10px;
    }
</style>
<!-- Log in need to be connected to log in method once created -->
<div class="text-center" id="LogInForm">
    
    @using (Html.BeginForm("Authorize", "Login",FormMethod.Post))

    { 
    <fieldset>
        <legend>Login</legend>
        <table>
            

            <tr>
                <td>@Html.LabelFor(model => model.ID)<br>
                <td>@Html.TextBoxFor(model => model.ID)<br>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.ID)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Password)</td>
                <td>@Html.EditorFor(model => model.Password)</td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" name="name" value="Login">
                    <input type="reset" name="name" value="Clear">
                </td>
            </tr>
            <tr>
                <td></td>
                <td><p style="color:red">Username or Password invalid</p></td>
            </tr>

        </table>
    </fieldset>
    }
    
    
    <br>

    
  
</div>
