@model SoftwareProcess.Models.Student

@{
    ViewData["Title"] = "Home Page";
}
<!-- CSS for this view page -->
<style>
    #LogInForm {
        margin: 0;
        padding: 0;
        display: flex;
        height: 70vh;
        top: 40%;
        align-items: center;
        justify-content: center;
    }

    fieldset {
        width: auto;
        border: 5px solid #777;
        padding: 5px;
    }

    input {
        margin: 0px;
        padding: 0px;
        width: 140px;
        align-content: center;
    }

    h2 {
        text-align: center;
    }

    td {
        width: 100%;
    }
</style>
<!-- Log in need to be connected to log in method once created -->
<div class="text-center" id="LogInForm">
    <!-- Connects to the Login Controller, Goes to Authorize Method when form is submited  -->
    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))

    {
        <fieldset>
            <table>

                <h2>Login</h2>


                <tr>
                    <td>@Html.LabelFor(model => model.ID)</td>
                    <td>@Html.TextBoxFor(model => model.ID)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.ID)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password)</td>
                    <td>@Html.EditorFor(model => model.Password)</td>
                </tr>

                <tr>
                    <td><input type="submit" name="name" value="Login"></td>
                    <td>

                        <input type="reset" name="name" value="Clear">
                    </td>
                </tr>
                <tr>
                    <p style="color:red">Username or Password invalid</p>
                </tr>

            </table>
        </fieldset>
    }


    <br>



</div>
